html
	head
		title= "My Guestbook"
		link( href="/resources/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/resources/main.css" type="text/css" rel="stylesheet" )
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link( href="/resources/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/resources/main.css" type="text/css" rel="stylesheet" )
		link( href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link( rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png")
		link( rel="icon" type="image/png" href="/resources/favicon-32x32.png" sizes="32x32")
		link( rel="icon" type="image/png" href="/resources/favicon-16x16.png" sizes="16x16")
		link( rel="manifest" href="/resources/manifest.json")
		link( rel="mask-icon" href="/resources/safari-pinned-tab.svg" color="#5bbad5")
		meta( name="theme-color" content="#ffffff")
	body
		nav
			div.nav-wrapper
				ul#slide-out.side-nav
					li
						.userView
							.background
								img(src='/resources/house.jpg')
							a(href='#!user')
								img.circle(src='/resources/ajax.png')
							a(href='#!name')
								span.white-text.name Welcome to the side nave
							a(href='#!email')
								span.white-text.email Here you can browse all you want
					li
						a(href='/')
							i.material-icons cloud HOME
					li
						a(href='/guestbook') House Guestbook 
					li
						.divider
					li
						a.subheader More Information
					li
						a.waves-effect(href='#!') Contact
				a.button-collapse(href='#', data-activates='slide-out')
					img.heroimg(src='/resources/house.jpg')
					h1.navtext House Guestbook
				ul.right
					li
						a( href="/" ) Home
					li
						a Contact
					li
						a( href="/guestbook" ) Guestbook
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
					h1.center.white-text See here our guestbook
	main
		div.container
				div.row
					div.col.l8.offset-l2
						div#topcard.card
							div.card-content.z-depth-5
								p
									a(href="/") Home

								p= "Here you see all messages to our Guestbook"
								each thing in guestbook.reverse()
									ul
										li <p> Title: #{thing.title}
										li <p> Message: #{thing.message}
										<br>             	   

	footer.page-footer
		div.container
			div.row
				div.col.l6.s12
					h5.white-text Guesthouse
					p.grey-text.text-lighten-3 Thank you for visiting our gasthouses gastboook
					p.grey-text.text-lighten-3 If you like to keep in touch follow us on social media
				div.col.l4.offset-l2.s12
					h5.white-text Social media
					ul.grey-text.text-lighten-3
						li Git hub
						li Twitter
						li Facebook
		div.footer-copyright
			div.container.grey-text © 2025 Copyright Text
	script( src="/resources/jquery-3.1.1.min.js" )
	script( src="/resources/js/materialize.min.js" )
	script( src="/resources/main.js" )