html
	head
	body
		h1 Add an user to the data base

		p here you can an add extra users to our already verry cool database

		
		form(method='POST', action='adduser')
			label First Name:
			input(name='firstName', type='text', id='firstName', placeholder='Type the first name here')
			br
			label Last Name:
			input(name='lastName', type='text', id='lastName', placeholder='Type the last name here')
			br
			label Email adress:
			input(name='email', type='email', id='email', placeholder='Type the email here')
			br
			input(type='submit', value='Submit the user to the database')




		