html
	head
		link(rel='stylesheet', href='/views/main.css', type='text/css' )
	body
		h1 Search
		br
		form(method='POST', action= 'search')
			label(for='searchbar') Please search by first or last name: 
			input(name='searchbar', type='text', id='searchbar', placeholder='Type your search here')
			input(type='submit', value='Search!?')


